# The Battle of the Neighborhoods

Introduction: Business Problem 
Description of the problem and discussion of the background.


Problem Background:
Tourism is a valuable contributor to NSW’s economy in Australia. In 2017–18, tourism industry contributed more than 17 billion to NSW economy and created employment for more than 180K people. Together with indirect impacts, the industry's total contribution to the economy reached an estimated $35.6 billion.
Chinese tourists spent $12 billion while in Australia in 2018. The main purpose for travelling to Australia was for holidays. More than 770,000 visitors came to Australia for holiday purposes. The most popular destinations were Sydney with 57 of visitors. Chinese visitors spent an average of 43 nights in Australia. As most of the tourists are coming from China, I would like to analyse how many Chinese restaurantsare currently available in Sydney city and is there any opportunity to establish new Chinese restaurant in Sydney near to city. 
Now if anyone wants to start a new Chinese restaurant in Sydney?

Problem Description:
In this project I tried to identify which NSW regions are contributing more in tourism sector. What types of restaurant businesses can attract more tourists  and if anyone wants to start a new business then what types of busniess needs to be focused on based on tourist attraction. Briefly my project will answer the questions below:
• Which attractions are contributing more in NSW economy and in which area?
• How many Chinese restaurants near to Sydney City?
• If any toursit want to go to Chinese restaurant then how many is closer to city?

Target Audience:
My project would be most successfully used by people who want to start a new restaurant in Sydney.

Data:
All data related to locations and quality of Chinese restaurants will be obtained via the FourSquare API utilized via the Request library in Python.

In [4]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.20.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0                  --> 2019.11.28-hecc5488_0 conda-forge
    certifi:         2019.11.28-py36_0             --> 2019.11.28-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1d-h516909a_0     conda-forge


Downloading and Extracting Packages
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
geopy-1.20.0         | 57 KB     | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    altair-4.0.0               |             py_0         606 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         704 KB

The following NEW packages will be INSTALLED:

    altair:  4.0.0-py_0 conda-forge
    branca:  0.3.1-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
branca-0.3.1         | 25 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
altair-4.0.0         | 606 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [5]:
#Tourism in NSW
url_html = 'https://www.destinationnsw.com.au/tourism/facts-and-figures/reports-and-presentations'

In [6]:
dfs = pd.read_html(url_html)
len(dfs)
nsw_tourism = dfs[0]
nsw_tourism.head()

,0,1,2,3,4
0,NaN,Direct tourism contribution,Direct tourism contribution,Total tourism contribution,Total tourism contribution
1,NaN,Gross regional product ($M),Employment (‘000),Gross regional product ($M),Employment (‘000)
2,NaN,NaN,NaN,NaN,NaN
3,Sydney,10467,87.3,19892,136.1
4,Blue Mountains,293,3.7,550,5.1

In [8]:
nsw_tourism

,0,1,2,3,4
0,NaN,Direct tourism contribution,Direct tourism contribution,Total tourism contribution,Total tourism contribution
1,NaN,Gross regional product ($M),Employment (‘000),Gross regional product ($M),Employment (‘000)
2,NaN,NaN,NaN,NaN,NaN
3,Sydney,10467,87.3,19892,136.1
4,Blue Mountains,293,3.7,550,5.1
5,Capital Country,320,4.3,639,6.0
6,Central Coast,451,6.3,858,8.5
7,Central NSW,546,8.3,1093,11.2
8,Hunter,1220,15.5,2378,21.7
9,New England North West,371,5.3,749,7.3
10,North Coast,1790,23.9,3514,33.2
11,Outback NSW,97,1.6,169,2.0
12,Riverina,260,3.8,558,5.4
13,Snowy Mountains,296,5.0,569,6.5
14,South Coast,1159,14.5,2167,19.9
15,The Murray,249,3.7,476,4.9
16,Regional NSW,7053,95.8,13719,131.7
17,Rest of Australia,NaN,NaN,1974,10.8
18,New South Wales,17520,183.1,35585,278.5

In [9]:
nsw_tourism.replace(np.nan, "Not assigned", inplace=True)
nsw_tourism.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [18]:
nsw_tourism

,0,1,2,3,4
0,Not assigned,Direct tourism contribution,Direct tourism contribution,Total tourism contribution,Total tourism contribution
1,Not assigned,Gross regional product ($M),Employment (‘000),Gross regional product ($M),Employment (‘000)
2,Not assigned,Not assigned,Not assigned,Not assigned,Not assigned
3,Sydney,10467,87.3,19892,136.1
4,Blue Mountains,293,3.7,550,5.1
5,Capital Country,320,4.3,639,6.0
6,Central Coast,451,6.3,858,8.5
7,Central NSW,546,8.3,1093,11.2
8,Hunter,1220,15.5,2378,21.7
9,New England North West,371,5.3,749,7.3
10,North Coast,1790,23.9,3514,33.2
11,Outback NSW,97,1.6,169,2.0
12,Riverina,260,3.8,558,5.4
13,Snowy Mountains,296,5.0,569,6.5
14,South Coast,1159,14.5,2167,19.9
15,The Murray,249,3.7,476,4.9
16,Regional NSW,7053,95.8,13719,131.7
17,Rest of Australia,Not assigned,Not assigned,1974,10.8
18,New South Wales,17520,183.1,35585,278.5

In [26]:
# create headers list
headers = ["NSW Regions","Direct tourism contribution Gross regional product ($M)","Direct tourism contribution Employment (‘000)","Total tourism contribution Gross regional product ($M)","Total tourism contribution Employment (‘000)"]

In [27]:
nsw_tourism.columns = headers

In [28]:
nsw_tourism

,NSW Regions,Direct tourism contribution Gross regional product ($M),Direct tourism contribution Employment (‘000),Total tourism contribution Gross regional product ($M),Total tourism contribution Employment (‘000)
0,Not assigned,Direct tourism contribution,Direct tourism contribution,Total tourism contribution,Total tourism contribution
1,Not assigned,Gross regional product ($M),Employment (‘000),Gross regional product ($M),Employment (‘000)
2,Not assigned,Not assigned,Not assigned,Not assigned,Not assigned
3,Sydney,10467,87.3,19892,136.1
4,Blue Mountains,293,3.7,550,5.1
5,Capital Country,320,4.3,639,6.0
6,Central Coast,451,6.3,858,8.5
7,Central NSW,546,8.3,1093,11.2
8,Hunter,1220,15.5,2378,21.7
9,New England North West,371,5.3,749,7.3
10,North Coast,1790,23.9,3514,33.2
11,Outback NSW,97,1.6,169,2.0
12,Riverina,260,3.8,558,5.4
13,Snowy Mountains,296,5.0,569,6.5
14,South Coast,1159,14.5,2167,19.9
15,The Murray,249,3.7,476,4.9
16,Regional NSW,7053,95.8,13719,131.7
17,Rest of Australia,Not assigned,Not assigned,1974,10.8
18,New South Wales,17520,183.1,35585,278.5

In [30]:
# remove the 'Not assigned' rows
df = nsw_tourism
tourism_df = df[ (df['NSW Regions'] != 'Not assigned')]
tourism_df.head()

,NSW Regions,Direct tourism contribution Gross regional product ($M),Direct tourism contribution Employment (‘000),Total tourism contribution Gross regional product ($M),Total tourism contribution Employment (‘000)
3,Sydney,10467,87.3,19892,136.1
4,Blue Mountains,293,3.7,550,5.1
5,Capital Country,320,4.3,639,6.0
6,Central Coast,451,6.3,858,8.5
7,Central NSW,546,8.3,1093,11.2

In [31]:
# reset index, because we droped two rows
tourism_df.reset_index(drop=True, inplace=True)

In [32]:
tourism_df.head()

,NSW Regions,Direct tourism contribution Gross regional product ($M),Direct tourism contribution Employment (‘000),Total tourism contribution Gross regional product ($M),Total tourism contribution Employment (‘000)
0,Sydney,10467,87.3,19892,136.1
1,Blue Mountains,293,3.7,550,5.1
2,Capital Country,320,4.3,639,6.0
3,Central Coast,451,6.3,858,8.5
4,Central NSW,546,8.3,1093,11.2

In [33]:
tourism_df.shape

(16, 5)

In [37]:
!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

!pip install geopandas
!pip install geopy

Solving environment: done

# All requested packages already installed.

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/5b/0c/e6c99e561b03482220f00443f610ccf4dce9b50f4b1093d735f93c6fc8c6/geopandas-0.6.2-py2.py3-none-any.whl (919kB)
     |████████████████████████████████| 921kB 15.3MB/s eta 0:00:01
Collecting shapely (from geopandas)
  Downloading https://files.pythonhosted.org/packages/38/b6/b53f19062afd49bb5abd049aeed36f13bf8d57ef8f3fa07a5203531a0252/Shapely-1.6.4.post2-cp36-cp36m-manylinux1_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.5MB 35.5MB/s eta 0:00:01
Collecting pyproj (from geopandas)
  Downloading https://files.pythonhosted.org/packages/d6/70/eedc98cd52b86de24a1589c762612a98bea26cde649ffdd60c1db396cce8/pyproj-2.4.2.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 52.9MB/s eta 0:00:01
Collecting fiona (from geopandas)
  Downloading https://files.pythonhosted.org/packages/50/f7/9899f8a9a2e38601472fe1079ce5088f58833221c8b8507d8b5eafd5404a/Fiona-1.8.13-cp36-cp36m-manylinux1_x86_64.whl (11.8MB)
     |████████████████████████████████| 11.8MB 53.7MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geopandas) (0.24.1)
Requirement already satisfied: click<8,>=4.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: six>=1.7 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from fiona->geopandas) (1.12.0)
Collecting cligj>=0.5 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from fiona->geopandas) (18.2.0)
Collecting munch (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.12.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (1.15.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (2.7.5)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (2018.9)
Installing collected packages: shapely, pyproj, cligj, munch, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13 geopandas-0.6.2 munch-2.5.0 pyproj-2.4.2.post1 shapely-1.6.4.post2
Requirement already satisfied: geopy in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.20.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geopy) (1.50)

In [53]:
from geopy.extra.rate_limiter import RateLimiter

As Sydney is the highest contributor in NSW tourism sector, we will analyse the attractions in Sydney

In [52]:
# Sydney Longitude and Latitude

address = 'Sydney'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
lat = location.latitude
long = location.longitude
print(address + ' coordinates: {},{}.'.format(lat,long))

Sydney coordinates: -33.8548157,151.2164539.

In [103]:
sydney_data = tourism_df [ tourism_df['NSW Regions'].str.contains('Sydney')]
sydney_data.head()

,NSW Regions,Direct tourism contribution Gross regional product ($M),Direct tourism contribution Employment (‘000),Total tourism contribution Gross regional product ($M),Total tourism contribution Employment (‘000),location,point
3,Sydney,10467,87.3,19892,136.1,"(Sydney, New South Wales, Australia, (-33.8548...","(-33.8548157, 151.2164539, 0.0)"

Let's use Folium to show these attractions on a map.

In [104]:
address = 'Sydney'

geolocator = Nominatim(user_agent="sydney_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of sydney are {}, {}.'.format(latitude, longitude))

# create map of sydney using latitude and longitude values
map_sydney = folium.Map(location=[latitude, longitude], zoom_start=10)

    
map_sydney

The geograpical coordinate of sydney are -33.8548157, 151.2164539.

# Call FourSquare API to get venues

In [105]:
CLIENT_ID = 'JEFV0K2WF3WHBPLI0DWZHVXK0AIDL3GV4NWQYAGDDBBMIAPF' # your Foursquare ID
CLIENT_SECRET = 'XL1QJS5UE1UEWQPULUTHDMQTOWKTRG5S451CAZT11LANK03M' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100
radius = 500

Function to getting venues that are nearby the attraction using the Foursquare API

In [93]:
url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    lat, 
    long, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/search?&client_id=JEFV0K2WF3WHBPLI0DWZHVXK0AIDL3GV4NWQYAGDDBBMIAPF&client_secret=XL1QJS5UE1UEWQPULUTHDMQTOWKTRG5S451CAZT11LANK03M&v=20180605&ll=-33.8548157,151.2164539&radius=500&limit=100'

In [115]:
search_query = 'Chinese'
radius = 800
print(search_query + ' .... OK!')

Chinese .... OK!

In [95]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, lat, long, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=JEFV0K2WF3WHBPLI0DWZHVXK0AIDL3GV4NWQYAGDDBBMIAPF&client_secret=XL1QJS5UE1UEWQPULUTHDMQTOWKTRG5S451CAZT11LANK03M&ll=-33.8548157,151.2164539&v=20180605&query=restaurant&radius=800&limit=100'

In [111]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [112]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5df5de83df2774001b2b5c32'},
 'response': {'venues': [{'id': '4b05875ff964a520818e22e3',
    'name': 'The Gantry Restaurant & Bar',
    'location': {'address': '11 Hickson Rd',
     'lat': -33.85428333931455,
     'lng': 151.20798971346917,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.85428333931455,
       'lng': 151.20798971346917}],
     'distance': 784,
     'postalCode': '2000',
     'cc': 'AU',
     'neighborhood': 'Walsh BayCentral Business District',
     'city': 'Sydney',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['11 Hickson Rd', 'Sydney NSW 2000', 'Australia']},
    'categories': [{'id': '4bf58dd8d48988d1d5941735',
      'name': 'Hotel Bar',
      'pluralName': 'Hotel Bars',
      'shortName': 'Hotel Bar',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_bar_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b629528f964a520014c2ae3',
    'name': 'Bennelong Restaurant',
    'location': {'address': 'Bennelong Point',
     'lat': -33.85756390967842,
     'lng': 151.214793554158,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.85756390967842,
       'lng': 151.214793554158}],
     'distance': 342,
     'postalCode': '2000',
     'cc': 'AU',
     'neighborhood': 'Sydney, NSW 2000',
     'city': 'Sydney',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['Bennelong Point', 'Sydney NSW 2000', 'Australia']},
    'categories': [{'id': '4bf58dd8d48988d169941735',
      'name': 'Australian Restaurant',
      'pluralName': 'Australian Restaurants',
      'shortName': 'Australian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/australian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b058769f964a5200d9122e3',
    'name': 'Aria Restaurant',
    'location': {'address': '1 Macquarie Street',
     'lat': -33.85934,
     'lng': 151.2132,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.85934,
       'lng': 151.2132}],
     'distance': 586,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'Sydney',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['1 Macquarie Street',
      'Sydney NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d169941735',
      'name': 'Australian Restaurant',
      'pluralName': 'Australian Restaurants',
      'shortName': 'Australian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/australian_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '86479629'},
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b653c2ff964a520ffe92ae3',
    'name': 'The East Chinese Restaurant',
    'location': {'address': '2 East Circular Quay',
     'lat': -33.85930291179038,
     'lng': 151.2129206946131,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.85930291179038,
       'lng': 151.2129206946131}],
     'distance': 596,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'Sydney',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['2 East Circular Quay',
      'Sydney NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d145941735',
      'name': 'Chinese Restaurant',
      'pluralName': 'Chinese Restaurants',
      'shortName': 'Chinese',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '50e6b308e4b03056bd1d48d6',
    'name': 'Rossini Restaurant & Cafe',
    'location': {'address': 'Shop W5, West Podium',
     'crossStreet': 'Circular Quay',
     'lat': -33.861064690329066,
     'lng': 151.21026448995528,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.861064690329066,
       'lng': 151.21026448995528}],
     'distance': 900,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'Circular Quay',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['Shop W5, West Podium (Circular Quay)',
      'Circular Quay NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d16d941735',
      'name': 'Café',
      'pluralName': 'Cafés',
      'shortName': 'Café',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4bb066cef964a52008443ce3',
    'name': 'Waterfront Restaurant',
    'location': {'address': '27 Circular Quay W',
     'lat': -33.857087600391495,
     'lng': 151.2095680969256,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.857087600391495,
       'lng': 151.2095680969256}],
     'distance': 684,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'The Rocks',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['27 Circular Quay W',
      'The Rocks NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d1ce941735',
      'name': 'Seafood Restaurant',
      'pluralName': 'Seafood Restaurants',
      'shortName': 'Seafood',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/seafood_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b05875ff964a5207d8e22e3',
    'name': 'Aqua Luna Bar & Restaurant',
    'location': {'address': '5-7 Macquarie Street',
     'lat': -33.85657761998349,
     'lng': 151.2111861497544,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.85657761998349,
       'lng': 151.2111861497544}],
     'distance': 524,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'Sydney',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['5-7 Macquarie Street',
      'Sydney NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d11e941735',
      'name': 'Cocktail Bar',
      'pluralName': 'Cocktail Bars',
      'shortName': 'Cocktail',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/cocktails_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4c2717e43703d13a2982a636',
    'name': 'Wildfire Restaurant',
    'location': {'lat': -33.858006,
     'lng': 151.20996,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.858006,
       'lng': 151.20996}],
     'distance': 697,
     'cc': 'AU',
     'country': 'Australia',
     'formattedAddress': ['Australia']},
    'categories': [{'id': '4bf58dd8d48988d1ca941735',
      'name': 'Pizza Place',
      'pluralName': 'Pizza Places',
      'shortName': 'Pizza',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '572d2f86498e77d1689b057b',
    'name': 'Playfair Terrace Restaurant',
    'location': {'lat': -33.858141,
     'lng': 151.20864,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.858141,
       'lng': 151.20864}],
     'distance': 811,
     'cc': 'AU',
     'country': 'Australia',
     'formattedAddress': ['Australia']},
    'categories': [{'id': '4bf58dd8d48988d169941735',
      'name': 'Australian Restaurant',
      'pluralName': 'Australian Restaurants',
      'shortName': 'Australian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/australian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '572e891c498e2483c6ad9779',
    'name': 'Playfair Terrace Restaurant',
    'location': {'lat': -33.858165,
     'lng': 151.208916,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.858165,
       'lng': 151.208916}],
     'distance': 790,
     'cc': 'AU',
     'country': 'Australia',
     'formattedAddress': ['Australia']},
    'categories': [{'id': '4bf58dd8d48988d169941735',
      'name': 'Australian Restaurant',
      'pluralName': 'Australian Restaurants',
      'shortName': 'Australian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/australian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4d698892de28224b1a7944be',
    'name': 'Harbourside Cafe / Restaurant',
    'location': {'address': '3A Broughton St.',
     'lat': -33.84724,
     'lng': 151.21311,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.84724,
       'lng': 151.21311}],
     'distance': 898,
     'postalCode': '2061',
     'cc': 'AU',
     'city': 'Kirribilli',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['3A Broughton St.',
      'Kirribilli NSW 2061',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d16d941735',
      'name': 'Café',
      'pluralName': 'Cafés',
      'shortName': 'Café',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b05875ff964a520528e22e3',
    'name': 'City Extra',
    'location': {'address': 'Shop E4, East Podium',
     'lat': -33.86115414894157,
     'lng': 151.2111353225383,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.86115414894157,
       'lng': 151.2111353225383}],
     'distance': 859,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'Circular Quay',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['Shop E4, East Podium',
      'Circular Quay NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d143941735',
      'name': 'Breakfast Spot',
      'pluralName': 'Breakfast Spots',
      'shortName': 'Breakfast',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/breakfast_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b05875ef964a520108e22e3',
    'name': 'Quay',
    'location': {'address': 'Overseas Passenger Terminal',
     'crossStreet': 'Hickson Rd.',
     'lat': -33.857444763605436,
     'lng': 151.21015491647404,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.857444763605436,
       'lng': 151.21015491647404}],
     'distance': 651,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'Sydney',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['Overseas Passenger Terminal (Hickson Rd.)',
      'Sydney NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d169941735',
      'name': 'Australian Restaurant',
      'pluralName': 'Australian Restaurants',
      'shortName': 'Australian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/australian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4e159a21c65b14b6ca34a643',
    'name': 'La Capannina Restaurant',
    'location': {'address': '41 Alfred St South',
     'lat': -33.84729714290143,
     'lng': 151.21209004854524,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.84729714290143,
       'lng': 151.21209004854524}],
     'distance': 929,
     'postalCode': '2061',
     'cc': 'AU',
     'city': 'Milsons Point',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['41 Alfred St South',
      'Milsons Point NSW 2061',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d110941735',
      'name': 'Italian Restaurant',
      'pluralName': 'Italian Restaurants',
      'shortName': 'Italian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b05875ef964a5200f8e22e3',
    'name': 'The MCA Cafe & Sculpture Terrace',
    'location': {'address': '140 George St',
     'lat': -33.85951176257337,
     'lng': 151.20922809175323,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.85951176257337,
       'lng': 151.20922809175323}],
     'distance': 848,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'The Rocks',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['140 George St', 'The Rocks NSW 2000', 'Australia']},
    'categories': [{'id': '4bf58dd8d48988d16d941735',
      'name': 'Café',
      'pluralName': 'Cafés',
      'shortName': 'Café',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '46477979'},
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b8661c5f964a5201a8831e3',
    'name': 'Caminetto',
    'location': {'address': '17 Playfair',
     'lat': -33.85823437393759,
     'lng': 151.2083925059821,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.85823437393759,
       'lng': 151.2083925059821}],
     'distance': 836,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'Sydney',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['17 Playfair', 'Sydney NSW 2000', 'Australia']},
    'categories': [{'id': '4bf58dd8d48988d110941735',
      'name': 'Italian Restaurant',
      'pluralName': 'Italian Restaurants',
      'shortName': 'Italian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b528161f964a5204e8027e3',
    'name': 'The Deck',
    'location': {'address': '1 Olympic Dr',
     'lat': -33.8488848353214,
     'lng': 151.21025792898436,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.8488848353214,
       'lng': 151.21025792898436}],
     'distance': 874,
     'postalCode': '2061',
     'cc': 'AU',
     'city': 'Milsons Point',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['1 Olympic Dr',
      'Milsons Point NSW 2061',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d116941735',
      'name': 'Bar',
      'pluralName': 'Bars',
      'shortName': 'Bar',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b05875ef964a520018e22e3',
    'name': 'Harbourview Hotel',
    'location': {'address': '18 Lower Fort St.',
     'lat': -33.85668630405287,
     'lng': 151.2075236932963,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.85668630405287,
       'lng': 151.2075236932963}],
     'distance': 851,
     'postalCode': '2000',
     'cc': 'AU',
     'city': 'The Rocks',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['18 Lower Fort St.',
      'The Rocks NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d116941735',
      'name': 'Bar',
      'pluralName': 'Bars',
      'shortName': 'Bar',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False},
   {'id': '4b74c6a3f964a52070f12de3',
    'name': 'Q Dining',
    'location': {'address': '61 Macquarie St.',
     'crossStreet': '2nd Floor, Quay Grand Suites',
     'lat': -33.86085,
     'lng': 151.21292,
     'labeledLatLngs': [{'label': 'display',
       'lat': -33.86085,
       'lng': 151.21292}],
     'distance': 746,
     'postalCode': '2000',
     'cc': 'AU',
     'neighborhood': 'Circular Quay',
     'city': 'Sydney',
     'state': 'NSW',
     'country': 'Australia',
     'formattedAddress': ['61 Macquarie St. (2nd Floor, Quay Grand Suites)',
      'Sydney NSW 2000',
      'Australia']},
    'categories': [{'id': '4bf58dd8d48988d169941735',
      'name': 'Australian Restaurant',
      'pluralName': 'Australian Restaurants',
      'shortName': 'Australian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/australian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1576394334',
    'hasPerk': False}]}}

In [114]:
# assign relevant part of JSON to venues
venues=results['response']['venues'] 

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '4bf58dd8d48988d1d5941735', 'name': 'H...",False,4b05875ff964a520818e22e3,11 Hickson Rd,AU,Sydney,Australia,NaN,784,"[11 Hickson Rd, Sydney NSW 2000, Australia]","[{'label': 'display', 'lat': -33.8542833393145...",-33.854283,151.207990,Walsh BayCentral Business District,2000,NSW,The Gantry Restaurant & Bar,v-1576394334,NaN
1,"[{'id': '4bf58dd8d48988d169941735', 'name': 'A...",False,4b629528f964a520014c2ae3,Bennelong Point,AU,Sydney,Australia,NaN,342,"[Bennelong Point, Sydney NSW 2000, Australia]","[{'label': 'display', 'lat': -33.8575639096784...",-33.857564,151.214794,"Sydney, NSW 2000",2000,NSW,Bennelong Restaurant,v-1576394334,NaN
2,"[{'id': '4bf58dd8d48988d169941735', 'name': 'A...",False,4b058769f964a5200d9122e3,1 Macquarie Street,AU,Sydney,Australia,NaN,586,"[1 Macquarie Street, Sydney NSW 2000, Australia]","[{'label': 'display', 'lat': -33.85934, 'lng':...",-33.859340,151.213200,NaN,2000,NSW,Aria Restaurant,v-1576394334,86479629
3,"[{'id': '4bf58dd8d48988d145941735', 'name': 'C...",False,4b653c2ff964a520ffe92ae3,2 East Circular Quay,AU,Sydney,Australia,NaN,596,"[2 East Circular Quay, Sydney NSW 2000, Austra...","[{'label': 'display', 'lat': -33.8593029117903...",-33.859303,151.212921,NaN,2000,NSW,The East Chinese Restaurant,v-1576394334,NaN
4,"[{'id': '4bf58dd8d48988d16d941735', 'name': 'C...",False,50e6b308e4b03056bd1d48d6,"Shop W5, West Podium",AU,Circular Quay,Australia,Circular Quay,900,"[Shop W5, West Podium (Circular Quay), Circula...","[{'label': 'display', 'lat': -33.8610646903290...",-33.861065,151.210264,NaN,2000,NSW,Rossini Restaurant & Cafe,v-1576394334,NaN

In [116]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered.head()

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,neighborhood,postalCode,state,id
0,The Gantry Restaurant & Bar,Hotel Bar,11 Hickson Rd,AU,Sydney,Australia,NaN,784,"[11 Hickson Rd, Sydney NSW 2000, Australia]","[{'label': 'display', 'lat': -33.8542833393145...",-33.854283,151.207990,Walsh BayCentral Business District,2000,NSW,4b05875ff964a520818e22e3
1,Bennelong Restaurant,Australian Restaurant,Bennelong Point,AU,Sydney,Australia,NaN,342,"[Bennelong Point, Sydney NSW 2000, Australia]","[{'label': 'display', 'lat': -33.8575639096784...",-33.857564,151.214794,"Sydney, NSW 2000",2000,NSW,4b629528f964a520014c2ae3
2,Aria Restaurant,Australian Restaurant,1 Macquarie Street,AU,Sydney,Australia,NaN,586,"[1 Macquarie Street, Sydney NSW 2000, Australia]","[{'label': 'display', 'lat': -33.85934, 'lng':...",-33.859340,151.213200,NaN,2000,NSW,4b058769f964a5200d9122e3
3,The East Chinese Restaurant,Chinese Restaurant,2 East Circular Quay,AU,Sydney,Australia,NaN,596,"[2 East Circular Quay, Sydney NSW 2000, Austra...","[{'label': 'display', 'lat': -33.8593029117903...",-33.859303,151.212921,NaN,2000,NSW,4b653c2ff964a520ffe92ae3
4,Rossini Restaurant & Cafe,Café,"Shop W5, West Podium",AU,Circular Quay,Australia,Circular Quay,900,"[Shop W5, West Podium (Circular Quay), Circula...","[{'label': 'display', 'lat': -33.8610646903290...",-33.861065,151.210264,NaN,2000,NSW,50e6b308e4b03056bd1d48d6

In [117]:
dataframe_filtered.name

0          The Gantry Restaurant & Bar
1                 Bennelong Restaurant
2                      Aria Restaurant
3          The East Chinese Restaurant
4            Rossini Restaurant & Cafe
5                Waterfront Restaurant
6           Aqua Luna Bar & Restaurant
7                  Wildfire Restaurant
8          Playfair Terrace Restaurant
9          Playfair Terrace Restaurant
10       Harbourside Cafe / Restaurant
11                          City Extra
12                                Quay
13             La Capannina Restaurant
14    The MCA Cafe & Sculpture Terrace
15                           Caminetto
16                            The Deck
17                   Harbourview Hotel
18                            Q Dining
Name: name, dtype: object

In [1]:
venues_map = folium.Map(location=[lat, long], zoom_start=20) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the Chinese Restaurant
folium.features.CircleMarker(
    [lat, long],
    radius=10,
    color='red',
    popup='The East Chinese Restaurant',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# display map
venues_map

NameError: name 'folium' is not defined